@import '~node_modules/modern-normalize/modern-normalize.css';
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #2C2C2C;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 758px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__wrap {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__wrap.is-open {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50px;
    right: 20px;
    width: 130px;
    height: 255px;
    background: #fefefe;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
  }
}
@media screen and (min-width: 768px) {
  .header__wrap {
    display: flex;
    margin-left: auto;
  }
}

.nav {
  display: flex;
}

.menu-button {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    color: #7eb101;
    border: none;
  }
}

.menu-icon {
  fill: currentColor;
  transition: fill 300ms ease-in;
}
.menu-icon:active {
  fill: #ffe550;
}

.header__logo {
  width: 66px;
  height: 52px;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav__list {
    align-items: center;
    gap: 28px;
  }
}

.nav__item {
  padding: 16px;
  width: 100%;
  height: 51px;
  transition: background-color 200ms ease-in;
}

.nav__item:active {
  background-color: #bbf330;
}

.nav__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.1428571429;
    color: #2c2c2c;
    transition: font-weight 300ms ease-in, color 300ms ease-in, -webkit-text-decoration-line 300ms ease-in;
    transition: font-weight 300ms ease-in, color 300ms ease-in, text-decoration-line 300ms ease-in;
    transition: font-weight 300ms ease-in, color 300ms ease-in, text-decoration-line 300ms ease-in, -webkit-text-decoration-line 300ms ease-in;
  }
  .nav__link:hover, .nav__link:focus {
    font-weight: 700;
    color: #bbf330;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    margin-left: 30px;
    padding: 6px 18px;
    background: #bbf330;
    border: 0px transparent;
    border-radius: 30px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5384615385;
    color: #2c2c2c;
    cursor: pointer;
  }
}

.hero {
  display: flex;
  align-items: center;
  pading-left: 16px;
}

.hero-wrap {
  max-width: 503px;
  margin-right: 138px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-btn {
  width: 98px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  background: #BBF330;
  border-radius: 30px;
}

.hero-thumb {
  width: 580px;
  height: 580px;
  margin-left: 152px;
}

.hero img {
  width: 528px;
  height: 528px;
  border-radius: 269px;
  border: 26px solid #FFE550;
}

.offerings-section {
  display: flex;
  background-color: #FFE550;
}

.offernigs-img-wrap {
  position: relative;
  width: 550px;
  height: 550px;
  margin-right: 90px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.offernigs-img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offerings-secion-title {
  width: 526px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 42px;
  line-height: 1.2;
  color: #2C2C2C;
}

.offerings-secion-text {
  width: 480px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #2C2C2C;
}

.offerings-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offerings-list > .item {
  width: 253px;
}

.offering-list-title {
  margin-bottom: 16px;
}

.offerings-order-btn {
  width: 106px;
  height: 40px;
  border: 2px solid #7EB101;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2C2C2C;
}

.favorites-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 42px;
  line-height: 1.16;
}

.favorites-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.fav-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 395px;
  height: 397px;
  border: 16px solid #FFE550;
  border-radius: 50%;
}

.list {
  list-style: none;
}

.nav-thumb {
  display: flex;
  margin-right: 320px;
}

.footer-list {
  display: flex;
  gap: 28px;
}/*# sourceMappingURL=index.css.map */