<footer>
    <div class="container">
      <div class="nav-thumb">
        <a href="index.html">
          <img src="./images/logo.png" alt="Logo" />
        </a>
        <nav class="footer-nav">
          <ul class="footer-list list">
            <li class="footer-item">Home</li>
            <li class="footer-item">About</li>
            <li class="footer-item">Service</li>
            <li class="footer-item">Menu</li>
            <li class="footer-item">Contact</li>
          </ul>
        </nav>
      </div>
      <div class="form-thumb">
        <form class="form-footer">
            <p class="primary-form-text">Subscribe</p>
                <label class="form-field">
                    <span class="form-label">E-mail</span>
                    <input class="form-input" type="email" name="mail" placeholder="Enter your email">
                </label>
                <p class="second-form-text">By subscribing you agree to with our Privacy Policy</p>
      </div>
      <div class="policy-thumb">
        <ul class="policy-list list">
            <li class="policy-item">Privacy Policy</li>
            <li class="policy-item">Terms of Service</li>
            <li class="policy-item">Cookies Settings</li>
        </ul>
        <p class="policy-descr">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
</footer>