<div class="header__container container">
    <a href="#" class="logo header__logo link">
        <img src="./images/logo.png" alt="logo" class="logo__img">
    </a>
    <button type="button" class="menu-button" data-menu-button>
        <svg width="28" height="28" class="menu-icon">
            <use href="./images/icons.svg#icon-menu"></use>
        </svg>
    </button>
    <div class="header__wrap" data-menu>
        <nav class="navigation">
            <ul class="nav__list list">
                <li class="nav__item"><a href="#" class="nav__link link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">About</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Service</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Menu</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="header__button button">Order Now</button>
    </div>
</div>
</header>