<section class="offerings-section">
    <div class="offernigs-img-wrap">
        <img class="offernigs-img" src="./images/apple.png" alt="apple image" width="400">
    </div>
    <div class="offerings-content">
        <h2 class="offerings-secion-title">What’s Special About Our Offerings</h2>
        <p class="offerings-secion-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul class="offerings-list">
            <li class="item">
                <h3 class="offering-list-title">Fasest Delivery</h3>
                <p class="offering-list-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                </p>
            </li>
            <li class="item">
                <h3 class="offering-list-title">Fasest Delivery</h3>
                <p class="offering-list-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                </p>
            </li>
        </ul>
        <button type="button" class="offerings-order-btn">Order Now</button>
    </div>
</section>