.favorites-title {
    margin-bottom: 20px;
    text-align: center;

    font-size: 42px;
    line-height: 1.16;
}

.favorites-text {
    margin-bottom: 40px;
    text-align: center;

    font-size: 16px;
    line-height: 1.18;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.fav-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 395px;
    height: 397px;

    border: 16px solid #FFE550;
    border-radius: 50%;
}